:root {
  --bg_color: #818181;
  --blue: #003cff;
  --red:#ff0000;
  --green:#07db00;
  --yellow:#e0dd20;

  --gap: 10px;
  --circle-size: 55vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg_color);
}
.main-game {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.genius {
  display: grid;
  grid-template-areas: 'verde vermelho' 
                       'amarelo azul';
  gap: 10px;
  background-color: #424242;
  border-radius: 100%;
  width: var(--circle-size);
  height: var(--circle-size);
  box-shadow: 5px 8px 15px 5px #0000006c;
}

.blue {
  grid-area: azul;
  background-color: var(--blue);
  border-bottom-right-radius: 100%;
}
.red {
  grid-area: vermelho;
  background-color: var(--red);
  border-top-right-radius: 100%;
}
.yellow {
  grid-area: amarelo;
  background-color: var(--yellow);
  border-bottom-left-radius: 100%;
}
.green {
  grid-area: verde;
  background-color: var(--green);
  border-top-left-radius: 100%;
}

.btn {
  transition: 0.5s;
  box-shadow: inset 0px 0px 30px 20px #00000028;
}

.selected{
  opacity: 0.8;
  box-shadow: 0 0 5px 5px #fff;
}
